@use './mixins' as *;

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: Max(100vh, rem(810));
}

.adviceCard{
  width: rem(540);
  height: rem(364);  
}

.cardContainer{
  width: 100%;
  height: rem(332);
  background-color: $dark-grayish-blue;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

